.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-size: 5rem;
  font-weight: 200;
  margin-bottom: 15vh;
}

h3{
  font-size: 4rem;
  font-weight: 200;
}

form{
  font-weight: 200;
}

button{
  padding: 0.5rem 1rem;
  background-color: white;
  border: solid black 1px;
  font-weight: 100;
  font-size: 1rem;
 
}

button:hover{
  padding: 0.5rem 1rem;
  background-color: black;
  border: solid white 1px;
  font-weight: 100;
  font-size: 1rem;
  color: white;
}
